
/* =============================================================
   GENERAL STYLES
 ============================================================ */




.container{
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
}


body {
    font-family: futura;
        line-height:30px;
        font-size:16px;
}

section {
    padding-bottom:80px;
    padding-top:75px;
}



.hr-set {
    border-top:2px solid #000;
    max-width:250px;
}
h3 {
    padding:15px 5px;
    font-weight:900;
    text-transform:uppercase;
}




 /* =============================================================
   NAVBAR STYLES
 ============================================================ */

 .navbar-inverse .navbar-brand:hover {
 color: #000;
 font-size: 35px;
 letter-spacing: 5px;
 font-weight: 900;
 background-color:#ffdf32;
 padding-bottom: 60px;
 }
 .navbar-inverse .navbar-brand {
 color: #ffdf32;
 font-size: 35px;
 letter-spacing: 5px;
 font-weight: 900;
 background-color:auto;
 padding-bottom: 60px;
 }

 .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
 border-color: #ffdf32;
 }
 .navbar-inverse {
 border-color:#ffdf32;
 }
 .navbar-fixed-top {
 top: 0;
 border-width: 0 0 0px;
 }
 .set-links {
     padding: 15px 20px 10px 20px;
 }
 .navbar-inverse .navbar-nav > li > a {
     color:#fff;
     font-weight:900;
 }
 .navbar-inverse .navbar-nav > li > a:hover {
     color:#ffdf32;
 }
 .navbar-brand small {

     font-size:12px;
     font-weight:normal;
     letter-spacing:1px;
 }
 .navbar-brand small strong{

     font-size:15px;
     font-weight:bold;
     letter-spacing:1px;
 }

 li.dropdown {
     display: inline-block;
       z-index: 1000;
 }

 .dropdown-content {
     display: none;
     position: absolute important;
     background-color: #f9f9f9;
     min-width: 350px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
 }

 .dropdown-content a {
     color: black;
     padding: 6px 8px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 .dropdown-content a:hover {background-color: #f1f1f1}

 .dropdown:hover .dropdown-content {
     display: block;
 }

  /* =============================================================
   HOME SECTION STYLES -IN HOME / INDEX.HTML
 ============================================================ */
#home-sec {
      background: url(../img/logo.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size:cover;
color:#fff;
}




    #home-sec .overlay {
        background-color:#ffdf32;
        min-height:250px;
        padding-top: 90px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        font-size: 18px;
    }


    .floatLeft {
      float: left;
      width: 180px;
      height: 140px;
      margin-left: 25%;
     }

    .floatRight {
      float: right;
      width: 180px;
      height: 140px;
      margin-right: 25%;
  }

    .logoHeader {
      color: black;
        padding-top:40px;
        padding-bottom: 20px;
        font-family: Handwrite;
        font-weight:100;
        font-size-adjust: auto;
        font-size: 350%;
        vertical-align: middle;
        text-align: center;
    }

/* =============================================================
   verifica DOMAIN SECTION STYLES  -IN HOME / INDEX.HTML
 ============================================================ */

#verifica  p{
  font-size: 20px;
  font-style: italic;
  float: left;
  font-family: futura;

}

.contact-us{
  width: 70%;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 50px;
  font-size: 18px;
  font-family: futura_book_italic;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: 15px;
    outline: none;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;

}


 .verifica {
     width: 40%;
     box-sizing: border-box;
     float: right;
     border: 2px solid #202020;
     border-radius: 50px;
     font-size: 18px;
     font-family: futura_book_italic;
     background-color: white;
     background-image: url('searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     padding: 12px 20px 12px 40px;
     padding-bottom: 5px;
     padding-top: 5px;
     margin-left: auto;
     margin-right: 15px;
     -webkit-transition: width 0.6s ease-in-out;
     transition: width 0.6s ease-in-out;
 }

 .verifica:focus {
     width: 75%;
     outline: none;
 }




.button {
    border: 2px solid #202020;
    box-sizing: border-box;
    color: white;
    float: right;
    padding: 12px 20px 12px 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: futura_book_italic;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



.button-verifica {
    background-color: white;
    color: black;
    border: 2px solid #202020;
    border-radius: 50px;
}

.button-verifica:hover {
    background-color: #202020;
    color: white;
}



/* =============================================================
   SERVICES SECTION STYLES  -IN HOME / INDEX.HTML
 ============================================================ */

#services-sec {
    background-color:#202020;
    color:#fff;
}

   /* =============================================================
   CLIENT TESTIMONIAL SECTION STYLES  -IN HOME / INDEX.HTML
 ============================================================ */


.mySlide{
  display: none;
  max-height: 600px;
}

/* =============================================================
   FEATURES SECTION STYLES  -IN HOME / INDEX.HTML
 ============================================================ */
#features-sec {
    background-color:#EFEFEF;
}

/* =============================================================
    Sections style in CHISIAMO.HTML
 ============================================================ */

  #chi-siamo-pic  img{
    display: block;
    margin:0 auto;
    width: 40%;
}

#dove-siamo-sec {

    background-color: #EFEFEF;
}


/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
#footer-sec {
    background-color:#121212;
    padding-bottom:30px;
    padding-top:30px;
    color: #202020;
  }

.social-links a,.social-links a:hover{
    color:#fff;
    text-decoration:none;
}

#footer-sec .container h4{
  font-size: 20px;
  font-weight: 500;
}

#footer-sec .container h6{
  font-size: 16px;
  font-weight: 200;
}

.social-links a i {
    background-color:#000;
    padding:15px 20px;
    margin:5px;
}
.copy-txt {
    background-color:#202020;
    padding:15px;
    color:#7C7C7C;
}

.set-foot {
    text-align:right;
    padding-right:50px;
}

/* =============================================================
   PAGE HEADLINE STYLES
 ============================================================ */
.headline-sec {
      background: url(../img/header.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size:cover;
color:#fff;
}
.headline-sec .overlay {
        background-color:rgba(20, 152, 152, 0.9);
        min-height:170px;
    }
    .headline-sec h3 {
        padding-top:100px;
        font-weight:900;
        padding-left:100px;
    }

/*
FAQ SECTION STYLE
*/

#faq-sec .container p{
  font-size: 18px;
  font-weight: lighter;
}

#faq-sec .container .floatLeft{
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

#faq-sec .container .floatRight{
  float: right;
  margin-right: 5%;
  margin-left: 5%;
}

#faq-sec .container .circle-img{
  width: 225px;
  height: 225px;;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
 


/*
SLIDER FOTO
*/

.jssorb13 {
    position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url('img/b13.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
